body {
    background: tan;
    font-family: 'Trebuchet MS', sans-serif;
}


#director, #title, #runtime {
    margin-left: 10px;
    font-family: 'Verdana',  sans-serif;
    font-size: 12px;
}

input, #btn {
    font-family: 'Times New Roman', serif;
    width: 250px;
    height: 25px;
}

#btn{
    border-radius: 10px;}